<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lucasdnd.decimaltimeclockwidget"
    android:versionCode="10"
    android:versionName="1.4.1" >

	<uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="20" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity android:name="com.lucasdnd.decimaltimeclockwidget.SettingsActivity"
            android:windowSoftInputMode="stateHidden">
		    <intent-filter>
		        <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
		    </intent-filter>
		</activity>
        
        <receiver
			android:name="com.lucasdnd.decimaltimeclockwidget.DecimalTimeClockProvider"
			android:label="Decimal Clock Widget">
		    <intent-filter>
		        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
		        <action android:name="com.lucasdnd.decimaltimeclockwidget.CLOCK_UPDATE" />
		        <action android:name="com.lucasdnd.decimaltimeclockwidget.SWITCH_COLORS" />
		    </intent-filter>
		    <meta-data android:name="android.appwidget.provider" android:resource="@xml/widgetproviderinfo" />
		</receiver>
		
        <receiver
			android:name="com.lucasdnd.decimaltimeclockwidget.LockScreenClockProvider"
			android:label="Decimal Clock Lock Screen Widget">
		    <intent-filter>
		        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
		        <action android:name="com.lucasdnd.decimaltimeclockwidget.CLOCK_UPDATE" />
		        <action android:name="com.lucasdnd.decimaltimeclockwidget.SWITCH_COLORS" />
		    </intent-filter>
		    <meta-data android:name="android.appwidget.provider" android:resource="@xml/lockscreenproviderinfo" />
		</receiver>
        
    </application>
</manifest>
